html, 
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#background {
	background-color: rgb(223, 209, 209);
    background-image: url(../imagens/bg.png);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
	color: #6593a5;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer {
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

#entradaDados {
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 3px solid rgb(171, 179, 182);
}

#entradaDados h2 {
	text-align: center;
}

#entradaDados input[type="text"],
#entradaDados input[type="email"],
#entradaDados input[type="password"] {
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgb(158, 155, 155);
    height: 27px;
    line-height: 27px;
    width: 100%;
}

#entradaDados label {
	color: rgb(50, 124, 151);
    font-size: 13px;
    margin-top: 15px;
}

#entradaDados button {
	background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#entradaDados button:hover {
	cursor: pointer;
}

.criarContaTexto span {
	font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.criarContaTexto {
	text-align: center;
}

#formularioRegistro,
#formularioLogin {
	display: none;
}

#textoLogin {
    padding: 45px;
    display: table-cell;
}

#textologin h1 {
    color: rgb(29, 92, 134);
    font-size: 50px;
    font-weight: bold;
}

#textologin h2 {
    margin: 35px 0;
}

#textologin ul {
    padding: 0;
}

#textologin li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
}